body {
    background-color: #202329;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
}


.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 30px;
    max-width: 1400px;
    margin: 0 auto;
}


.card {
    background-color: #3c3e44;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 6px 12px rgba(0,0,0,0.35);
    transition: transform 0.25s;
    text-align: center;

    aspect-ratio: 1 / 1;   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover {
    transform: scale(1.05);
}


.card img {
    width: 100%;
    height: 60%;
    object-fit: cover;
}


.card h2 {
    font-size: 1.6rem;
    margin: 10px 8px;
    color: #f5f5f5;
}


button {
    width: 85%;
    margin: 10px auto 15px;
    border: none;
    background-color: rgb(3, 233, 3);
    font-weight: bold;
    border-radius: 12px;
    padding: 10px;
    font-size: 1.1rem;
}

button:hover {
    background-color: darkgreen;
    cursor: pointer;
}


.details {
    max-width: 520px;
    margin: 40px auto;
    background-color: #3c3e44;
    border-radius: 14px;
    padding: 25px;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0,0,0,0.45);
}

.details img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 15px;
}

.details h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.details p {
    margin: 8px 0;
    color: #e0e0e0;
}


@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
    }
}

.search {
    max-width: 600px;
    margin: 20px auto 30px;
    display: flex;
    gap: 10px;
}

.search input {
    flex: 1;
    padding: 12px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
}